html {
    height: 100%;
}

/* ! GLOBAL COMPONENT STYLES !: */


/*=============================================
=           Colors for header tags            =
=============================================*/
.header {
    display: flex;
    align-items: center;
    color: rgb(163, 132, 94);
    font-size: 35px;
}
/*=====  End of Colors for header tags  ======*/




/*=============================================
=            Modal Window Styles            =
=============================================*/
.modal-close-btn {
    float: right;

    color: rgb(255, 255, 255);
    
    
    padding: 5px 20px 5px 5px;
    margin-bottom: 10px;

}
   /*----------  Modal Fade Animations:  ----------*/
    .modal-enter-active,
    .modal-leave-active {
        transition: opacity 0.3s;
    }

    .modal-enter,
    .modal-leave-to {
        transition: 0.3s;
        opacity: 0;
    }


    /*=============================================
    =            Modal Window Base Styles            =
    =============================================*/
    .modal-mask {
        display: table;
        position: fixed;
    
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
    }
    
    .modal-wrapper { 
        display: table-cell;
        vertical-align: middle;
    }
    
    .modal-container {
        width: 100vw;
        height: 100vh;
        
        margin: 0px auto;
        padding: 20px 30px;
    
        background-color: rgb(20, 20, 20);
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    
        overflow-x: scroll;
    
        transition: all 0.3s ease;
    }
    
    .modal-body {
        margin: 20px 0;
    }

    .modal-header {
    }

    /*=====  End of Modal Window Base Styles  ======*/

/*=====  End of Modal Window Styles  ======*/



/*=============================================
=            Break line styles            =
=============================================*/
.break-line {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*=====  End of Break line styles  ======*/




/*=============================================
=            Header spacing            =
=============================================*/
h3 {
    margin-bottom: 1rem;
}
/*=====  End of Header spacing  ======*/



/*=============================================
=            RESPONSIVE MODAL            =
=============================================*/
.ingredient-list__mobile {

}



/*=====  End of RESPONSIVE MODAL  ======*/

#card {
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Nunito',sans-serif;
    height: 29rem;
    
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.103);

  }
  .coffee-name {
    text-align: center;
  }
  
  .text-subtitle-1 {
    font-weight: bold;
  
  }

  .header-2 {
    text-transform: uppercase;
  }